body{
    background-color: #deb8d9;
    color: black;
}

a{
    color:black
}

nav{
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner{
    width:100%;
    height:20em;
    object-fit: cover;
}

.pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

h1{
    font-family:Papyrus;
    text-align: center;
    font-size:5em;
}

.font1{
    font-family: Arial, Helvetica, sans-serif;
}

.font2{
    font-family: cursive;
}

.font3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

footer{
    position: absolute;
    bottom: 5px;
}

.gridman{
    display: grid;
    grid-column-gap: 0px;
    column-gap: 0px;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 33% 33% 33%;
}

.EribyteImage{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width:100%;
}

.Schedule{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width:100%;
    top:2em;
}

table{
    width:100%;
    text-align: center;
    height:100%
}

table, th, td {
    border: 1px solid black;
}


.centerPlz{
    text-align: center;
}

.schedule_img{
    max-width: 100%;

}

.Bottommost{
    position: absolute;
    bottom: 5px;
}

.gridwoman{
    display: grid;
    grid-column-gap: 0px;
    column-gap: 0px;
    grid-template-columns: 66% 33%;
    grid-template-rows: 33% 33% 33%;
}

.subGrid{
    display: grid;
    grid-column-gap: 0px;
    column-gap: 0px;
    grid-template-columns: 50% 50%;
    background-color: black;
}

.leftPage{
    background-color: wheat;
    margin-left: 2%;
    margin-top:2%;
    margin-bottom: 2%;
}

.rightPage{
    background-color: wheat;
    margin-right: 2%;
    margin-top:2%;
    margin-bottom: 2%;
    border-left: 1px solid black;
}

.socialLink{
    text-align: center; 
    padding-top: 1em;
    font-size:3em
}

.gridSchedule{
    display: grid;
    grid-column-gap: 0px;
    column-gap: 0px;
    grid-template-columns: 33% 66%;
    grid-row-gap: 3em;
}

.TableHeader{
    font-weight: bold;
    font-size: 2em;
}

.scheduleDay{
    font-size: 2em;
    text-indent: 1em;
    background-color: #a08fbd;
    border-radius: 25px;
}

.scheduleStream{
    font-size: 2em;
    text-indent: 1em;
    background-color: #a08fbd;
    border-radius: 25px;
}